.modal {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    z-index: 1000;
    background: #FFFFFF50;

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal.hidden {
    display: none;
}

.modal__closeBtn {
    position: fixed;
    top: 40px;
    right: 40px;

    color: #FFFFFF50;
    cursor: pointer;

    &:hover {
        color: white;
        transform: scale(1.2);
    }
}